.overallContainer {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem 0;
    position: relative;
    height: 90%;
}

.menuItems {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu {
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.menu:hover {
    background-color:#108c8c;
}

.sidebarLogo {
    font-weight: bold;
    padding: 0 1rem;
}

.parishContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: max-content;
    position: absolute;
    bottom: 0;
    padding: 0 1rem;
}